@import 'base.css';

.wrap {max-width:1400px; margin:auto;}
.page {max-width:1200px; margin:3rem auto;}

.wr_wrap {width:90%; margin:auto; max-width:800px;}
.wr_wrap > .w3-input {width:40%;}
.wr_wrap > .w3-select {width:40%;}
#mc_sel {margin-left:2rem;}

.cont_wrap {margin: 2rem auto; width: 90%; border: 1px solid #ccc; padding: 3%; text-align: center;}
#mc_chg {width: 30%;}
#sc_in {width: 30%; margin-left: 2rem;}
