@import 'base.css';

.wrap {max-width:1400px; margin:auto;}
.page {max-width:1200px; margin:3rem auto;}

.wr_wrap {width:90%; margin:auto; max-width:800px;}
.wr_wrap > .w3-input {width:40%;}
.wr_wrap > .w3-select {width:40%;}
#mc_sel {margin-left:2rem;}

.cont_wrap {margin:2rem auto; width:90%; border:1px solid #ccc; padding:3%; text-align:center;}
#mc_chg {width:30%;}
.sc_ins {margin-top:2rem; padding-top:1rem;}
.sc_ins > input {width:25%; margin-right:1rem;}
.sc_ins > select {width:20%; margin-right:1rem;}

#blogs {margin-top:2rem;}
#blogs > li {border-bottom:1px solid #f1f1f1; padding:0.5rem 0;}
#blogs input {width:25%; margin-right:1rem;}
#blogs select {width:20%; margin-right:1rem;}