@import 'base.css';
/***** 공통사항 *****/
body {min-height:3000px;}
.wrap {width:100%; max-width:1400px; margin:auto; position:relative;}
.modals {position:fixed; z-index:9999; display:none;}
.rt_bg {width:100%; height:100%; background-color:#000; top:0; left:0;}
.rt_cont {width:240px; height:100%; background-color:#fff; text-align:center; top:0; right:0; font-size:0.75rem;}
.rt_cont > .fa-close {font-size: 1.5em; padding:3em 0 4em 0; cursor:pointer;}
.mypages > li {padding:1em 0; cursor:pointer;}
.mypages > li:hover {color:#222;}
.country {margin-top:1.5em;}
.country > span {width:40px; height:40px; line-height:40px; margin:4px 0; cursor:pointer;}
.country > span:hover {background-color: rgb(104, 211, 119) !important;}
.rt_arrow {transition:padding-left 0.2s;}
.rt_arrow:hover {padding-left:20px; 
	background:url(../img/arrow_right.png) no-repeat left center;}
.rt_arrow a {text-decoration:none;}
.rt_arrow a:link {color:#666;}
.rt_arrow a:visited {color:#666;}
.rt_arrow a:hover {color:#333;}
.rt_arrow a:active {color:#333;}

/***** 상단네비 / top_navs *****/
.logo {float:left;}
.top_navs {padding:2rem 0;}
.top_nav {float:right;}
.top_nav > li {float:left; margin-right:3rem; font-size:0.75rem; font-weight: 600; cursor:pointer;}
.top_nav > li:nth-child(1) {line-height:1.25rem;}
.top_nav > li:nth-child(2) {line-height:1.25rem;}
.top_nav > li:nth-child(1) > img {margin-right:0.75rem; margin-top:0.25rem;}
.top_nav > li:nth-child(2) > img {margin-right:0.75rem; margin-top:0.25rem;}
.top_nav > li:nth-child(3) {padding-top:0.5rem; position:relative;}
.top_nav > li:nth-child(3) > .w3-badge {position:absolute; color:#666; padding:0.25rem 0.5rem; top:-1rem;}
.top_nav > li:nth-child(4) {padding-top:0.5rem; margin-right:0;}
.top_nav .fa-shopping-bag {font-size:1.25rem; color:#222;}
.top_nav .fa-bars {font-size:1.25rem; color:#222;}

/***** 메인네비 / navs *****/
.navs {width:100%; background-color:#222; font-size:0.75rem;}
.navs > ul > li {height:54px; cursor:pointer;}
.navs > ul > .nav {float:left; color:#aaa; line-height:54px; margin-right:3em; font-weight:600;}
.navs .nav_sub {position: absolute; min-width:200px; min-height:200px; background-color:white; box-shadow: 0 0 10px rgba(0,0,0,.5); display:none; top:80px;}
/***** 카테고리 HOME *****/
.nav:nth-child(1) > .nav_sub {width:400px; padding:1rem 0;}
.nav:nth-child(1) > .nav_sub > li {float:left; width:160px; height:30px; line-height:30px; border-bottom:1px solid #ccc; margin:5px 20px; overflow:hidden;}
/***** 카테고리 SHOP *****/
.nav:nth-child(2) > .nav_sub {width:100%; padding:2rem; left:0;}
.shop_cates > ul {width:21%; margin:0 2%; float:left; font-size:0.75rem;}
.shop_cate_tit {font-weight:bolder; color:#222; font-size:1.25em;}
.shop_cate_name {margin:0; line-height:2rem; border-bottom:1px solid #eee;}
.shop_prds {margin-top:2rem;}
.shop_prd {width:30%; float:left;}
.shop_prd:nth-child(2) {margin:0 5%;}
/***** 카테고리 BLOG *****/
.blogs {width:100%; padding:1rem; left:0; color:#000;}
.blogs > :first-child {width:70%; float:left;}
.blogs > :last-child {width:30%; float:right;}
.grid {display:flex; flex-wrap:wrap;}
.grid-item {width:50%; padding:3%; float:left;}

.navs .nav:hover {color:#fff;}
.navs .search {float:right; height:38px; margin-top:8px; background-color:#fff; border-radius:19px;}
.navs .in_search {height:24px; width:120px; margin:8px 12px 0 20px; border:none;}
.navs .in_search:focus {outline:none;}
.navs .fa-search {font-size:1.25em; margin-right:20px;}