@import 'base.css';

.wrap {max-width:1400px; margin:auto;}
.logo {float:left;}
.logo_tit {float:left; font-size:1.5rem; margin-left:1rem; padding-top:1rem;}
.top_navs {padding:2rem 0;}
.navs {width:100%; background-color:#222; font-size:0.75rem; text-align:center;}
.navs > ul > li {height:54px; cursor:pointer; line-height:54px; display:inline-block; padding:0 30px; color:#aaa;}
.navs > ul > li:hover {color:#fff !important;}

.page {max-width:1200px; margin:3rem auto;}
#page1 {max-width:800px;}
#page1 input {width:30%;}
#page1 select {width:15%;}
#page1 button {margin-left:10px;}
#homes {margin-top:2rem;}
#homes > li {border-bottom:1px solid #eee; margin-bottom:0.5rem;}